<table class=“cooltable”>
	{{#each people}}
	   <div class="jumbotron"><p>
            <p>Name : {{first}} {{name}}</p>
            <p>Profession : {{profession}}</p>
	   </p></div>
	{{/each}}
</table>
